
header {
    background-color: #232323;
    padding: 16px 0;
    position: relative;
  }
  
  header h1 {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    margin-left: 10px;
  }

  header .btn {
    position: absolute;
    top: 10;
    right: 0;
    opacity: 0.5;
    margin: 10;
    
  }

  header .btn:hover {
    cursor: pointer;
    opacity: 1;
}