h1 {
   font-weight: 500;
   
   
}

.novedades {
    border: 1px solid #a8a2a2;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;   
    gap: 32px;
    align-items: center;
}

.novedades .info h2{
    font-weight: 500;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
    
}

.novedades .info p {
    font-size: 13px;
    
}
  
.novedades:nth-child(even) {
    flex-direction: row-reverse;
}


.novedades img{
   height: 30%;
    width: 30%;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    
    
}

.novedades img:hover {
    cursor: crosshair;
    width: 35%;
    opacity: 1;
    filter: contrast(120%);
}