header {
  background-color: #232323;
  padding: 16px 0;
}

header h1 {
  color: white;
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

footer {
  background-color: #e4e4e4;
  clear: both;
  color: #333;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
}

.holder {
  max-width: 960px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  border-radius: 50%;
  width: 15%;
  height: auto; 
}


