<div class="container" style="margin-top: 50px">
    {{!-- fila 1 --}}
    <div class="row">
        <p class="text-end">Hola {{usuario}}!<a class="btn btn-danger" href="/admin/login/logout"> Cerrar Sesión <i class="fas fa-sign-out-alt" ></i></a></p>
    </div>
</div>